#about-button {
	background-color: indianred;
}

div > .img-size {
	width: 300px;
	height: auto;
	margin-top: 20px;
}

/*div > p {
	width: 50%;
}*/

/*mx-auto with width 50%
25% margin 50%content 25% margin
*/